<section class="add-list">
  <div class="page-header">
    <div class="page-title">
      <h4>{{id ? "Edit Sale " : "Add New Sales Return"}}</h4>
      <!-- <h6>{{id?"Update ":"Add"}}Sales</h6> -->
    </div>
  </div>
</section>

<section
  id="new-sale-section"
  class="from-section">
  <div class="area-border">
    <div class="grid">
      <div class="from form-1"
           *ngIf="!id"
      >
<!--        <app-customer-search-field-->
<!--          (onSelect)="onSelectCustomerList($event)"-->
<!--        ></app-customer-search-field> -->

        <app-invoice-search-field
          (onSelect)="onSelectCustomerList($event)"
        ></app-invoice-search-field>

<!--        <div class="add-icon">-->
<!--          <a-->

<!--            (click)="customerInfoToggle()"-->
<!--            [class]="customerInfo ? 'active' : ''"-->
<!--          ><img-->
<!--            [src]="-->
<!--                customerInfo-->
<!--                  ? './assets/images/svg/closes.svg'-->
<!--                  : './assets/images/svg/plus1.svg'-->
<!--              "-->
<!--            alt="img"-->
<!--          /></a>-->
<!--        </div>-->
      </div>
      <div class="from">
        <mat-label>Sale Date</mat-label>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" placeholder="DD-MM-YYYY"
                 [ngModel]="today"
                 disabled
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <form
      [style.display]="customer || customerInfo ? 'grid' : 'none'"
      #formElement="ngForm"
      [formGroup]="dataForm"
      class="grid"
      style="margin-bottom: 20px"
    >
      <div class="from">
        <mat-label>Customer Name</mat-label>
        <mat-form-field appearance="outline" class="form-field">
          <input formControlName="name" matInput/>
        </mat-form-field>
      </div>
      <div class="from">
        <mat-label>Customer Phone No *</mat-label>
        <mat-form-field appearance="outline" class="form-field">
          <input formControlName="phone" matInput type="text"/>
        </mat-form-field>
      </div>
      <div class="from">
        <mat-label>Customer Address</mat-label>
        <mat-form-field appearance="outline" class="form-field">
          <input formControlName="address" matInput/>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>

      <div class="from">
        <mat-form-field appearance="outline" class="mat-date-input-field">
          <mat-label>Birthdate(Own/Favourite Person)</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="birthdate">
          <mat-datepicker-toggle [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </form>

    <app-product-search-filed
      *ngIf="sale"

      (onSelect)="onSelectProduct($event)">
    </app-product-search-filed>


    <div class="container" *ngIf="products.length>0">
      <div class="table-responsive">
        <table>
          <thead>
          <tr class="table-row">
            <th>Product Name</th>
            <th>Av. Quantity</th>
            <th *ngIf="!isViewMode">Quantity</th>
            <th *ngIf="isViewMode">Selling QTY</th>
            <th>Sales Price($)</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of products; let i = index">
            <td class="productimage">
              <a class="product-text">{{utilsService.getProductName(data)}} <sup class="tag" [style.background]="data.tag === 'new' ? '#017244' : '#d83333'">{{data.tag}}</sup></a>
            </td>
            <td>{{ data?.quantity }}</td>
            <td *ngIf="isViewMode">{{ data?.soldQuantity }}</td>
            <td *ngIf="!isViewMode">
              <div class="quantity">
                <div>
                  <button type="button" (click)="decrementQuantity(i)">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
                <div>
                  <input digitOnly [max]="data?.quantity" [(ngModel)]="data.soldQuantity" type="text"
                         value="{{ data?.soldQuantity }}"/>
                </div>
                <div>
                  <button type="button" (click)="incrementQuantity(i, data)">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </td>
            <td>{{ data?.salePrice | decimal}}</td>
            <td>{{ data?.salePrice * data.soldQuantity | decimal}}</td>
            <td>
              <div class="delete-area">
                <button
                  [disabled]="isViewMode"
                  mat-stroked-button
                  color="warn"
                  matTooltip="Add to Return List"
                  (click)="deleteProduct(i, data.tag)"
                >
<!--                  <mat-icon>close</mat-icon>-->
                  Add to Return List
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>




    <div class="container" *ngIf="returnProducts.length>0">
      <h2>Return Items</h2>
      <hr>
      <div class="table-responsive">
        <table>
          <thead>
          <tr class="table-row">
            <th style="background:#91183f;">Product Name</th>
            <th style="background:#91183f;">Av. Quantity</th>
            <th style="background:#91183f;">Return QTY</th>
            <th style="background:#91183f;">Sales Price($)</th>
            <th style="background:#91183f;">Total</th>
            <th style="background:#91183f;">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of returnProducts; let i = index">
            <td class="productimage">
              <a class="product-text">{{utilsService.getProductName(data)}}</a>
            </td>
            <td>{{ '-' }}</td>
            <td>{{ data?.soldQuantity }}</td>
            <td>{{ data?.salePrice | decimal}}</td>
            <td>-{{ data?.salePrice * data?.soldQuantity | decimal}}</td>
            <td>
              <div class="delete-area">
                <button
                  mat-stroked-button
                  color="primary"
                  matTooltip="Back to Invoice List"
                  (click)="deleteReturnProduct(i)"
                >
<!--                  <mat-icon>add</mat-icon>-->
                  Back to Invoice List
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="grid">
      <div class="from"></div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="form-row">
        <div class="from" style="width: 120px;">
          <mat-label>Discount Type</mat-label>
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="discountType">
              <mat-option [value]="null">
                None
              </mat-option>
              <mat-option *ngFor="let data of discountTypes" [value]="data.value">
                {{data.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="from">
          <mat-label>Discount</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="number"
              digitOnly pattern="^\d+(\.\d{1,2})?$" [decimal]="true"
              [(ngModel)]="discountAmount"/>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="grid">
      <div class="from"></div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from down">
        <mat-label>GST</mat-label>
        <mat-form-field appearance="outline">
          <input
            digitOnly pattern="^\d+(\.\d{1,2})?$" [decimal]="true"
            matInput
            type="number"
            [(ngModel)]="vat"/>
        </mat-form-field>
      </div>


    </div>


    <div class="grid" *ngIf="!sale">
      <div class="from"></div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from down point-filed">
        Your points : {{customer?.userPoints ?? 0}}
      </div>


    </div>


    <div class="grid" *ngIf="!sale">
      <div class="from"></div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from down">
        <mat-label>Point Withdraw</mat-label>
        <mat-form-field appearance="outline">
          <!-- <mat-label>Name</mat-label> -->
          <input
            matInput
            type="number"
            [(ngModel)]="usePoints"
            (ngModelChange)="onChangeWithdrawPoints($event)"
          />
        </mat-form-field>
      </div>


    </div>


    <div class="table">
      <table class="total-order">
        <tr>
          <td>Sub Total</td>
          <td class="number-color">{{shopInformation?.currency | currencyIcon}}{{ subTotal | number:'':'bn' }}</td>
        </tr>
        <tr>
          <td>Discount</td>
          <td class="number-color">{{shopInformation?.currency | currencyIcon}}{{ discount ?? 0 | number:'':'bn' }}</td>
        </tr>
        <tr>
          <td>GST</td>
          <td class="number-color">{{shopInformation?.currency | currencyIcon}}{{ vat ?? 0 | number:'':'bn' }}</td>
        </tr>

        <tr>
          <td>Points Discount</td>
          <td class="number-color">{{shopInformation?.currency | currencyIcon}}{{ pointsDiscount ?? 0 | number:'':'bn' }}</td>
        </tr>
<!--        <tr>-->
<!--          <td>Return Amount</td>-->
<!--          <td class="number-color">{{shopInformation?.currency | currencyIcon}}-{{ returnTotal ?? 0 | number:'':'bn' }}</td>-->
<!--        </tr>-->
        <tr>
          <td class="total">Grand Total</td>
          <td class="number-color">{{shopInformation?.currency | currencyIcon}}{{ grandTotal | number:'':'bn' }}</td>
        </tr>
      </table>

      <div class="grid">
        <div class="from"></div>
        <div class="from"></div>
        <div class="from"></div>
        <div class="from">
          <mat-label class="ricieveDesign">Select Payment Type</mat-label>
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="paymentType" required [placeholder]="paymentType"
                        (ngModelChange)="onPaymentTypeChanged($event)">
              <mat-option *ngFor="let data of paymentTypes" [value]="data.value"> {{data.viewValue}}</mat-option>
              <!--              <mat-option value="bkash"> Card</mat-option>-->
              <!--              <mat-option value="mobile-banking"> Mobile Banking</mat-option>-->
              <!--              <mat-option value="banking"> Banking</mat-option>-->
            </mat-select>
            <mat-error>This field is required.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="grid">
        <div class="from"></div>
        <div class="from"></div>
        <div class="from"></div>
        <div class="from down1">
          <mat-label class="ricieveDesign">Received From Customer</mat-label>
          <mat-form-field appearance="outline">
            <input digitOnly pattern="^\d+(\.\d{1,2})?$" [decimal]="true" #receivedFromCustomerInput matInput type="number" [(ngModel)]="receivedFromCustomer"/>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="from"></div>
      <div class="from"></div>
      <div class="from"></div>
      <div class="from down1">
        <mat-label class="ricieveDesign">Return to Customer</mat-label>
        <mat-form-field appearance="outline">
          <!-- <mat-label>Name</mat-label> -->
          <input matInput type="text" [value]="(receivedFromCustomer - grandTotal) | number : '': 'bn'"
                 readonly="true"/>
        </mat-form-field>
      </div>
    </div>


    <!--    (keyup.enter)="onSubmit()"-->
    <!--    (click)="onSubmit()"-->
    <!--    (keydown)="onEnterEvent($event)"-->

    <form class="btn">
      <button
        (window:keypress)="onEnterEvent($event, 'submit')"
        *ngIf="!isViewMode && !isLoading"
        mat-raised-button
        type="submit"
        (click)="onSubmit()"
        class="btn-submit">
        {{ id ? "Update" : "Submit" }}</button>

      <button
        style="margin-right: 8px;"
        *ngIf="isLoading"
        disabled
        type="button"
        mat-raised-button>
        Please Wait...
      </button>

      <button
        type="button"
        routerLink="/sales/sales-list"
        mat-raised-button
        class="btn-submit color"
      >
        Cancel
      </button>
    </form>
  </div>
</section>

<!-- Print Area -->
<!--style="visibility: hidden"-->
<app-print-sale-pos style="visibility: hidden" id="section-pos-print" [data]="saleData" [shopInformation]="shopInformation"></app-print-sale-pos>
