// Fonts Family
$font-en-poppins: 'Poppins', sans-serif;
$font-en-nunito: 'Nunito Sans', sans-serif;
$font-en-primary: $font-en-nunito;


// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 60px;
$bg-primary: #1F2544;
$color-black: white;
$color-font-color: #fff;
//$bg-three: rgb(50 58 112 / 25%);
$bg-three: #0af7ff40;
// BREAKPOINTS
$max-tablet-width: 899px;
$bg-menu-hover: rgb(50 58 112 / 25%);
// COLOR
$color-primary: #ff7542;
$color-secondary: #4b378d;
$color-accent: #1aa4e0;
